@import "tailwindcss";

@theme {
	--color-audittprimary: #ff677d;
	--color-audittpurple: #392f5a;
	--color-audittpink: #ffb3ba;
	--color-audittpink-light: #f8d9d9;
	--color-audittpinkgray: #d4a5a5;
	--color-audittblack: #2a2d34;
}
